
	 header {
      z-index: 100;
      background-color: white !important;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100vw;
      height: 100%;
    }
	
    nav div {
      width: 100%;
      height: 100%;
    }
	#mainA1{
		min-width:145px;
    	font-family: 'Zilla Slab', serif;
    }
    #nav1 {
      padding-top: 35px;
      min-width:300px;
      height: 70px;
    }
	#nav1 ul{
	  margin-left: 20px;
	}
    #nav1 li {
      margin-left: 15px;
    }

    header a {
      cursor: pointer;
    }

    #nav2 {
      padding-top:35px;
      margin-right:40px;
      height: 70px;
      min-width:300px;
    }
    #nav2 p{
      width:100%;
    }
    #nav2 ul{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      flex-wrap: nowrap;
      
    }
    #nav2 li {
      height: 70px;
      margin-left: 15px;
    }

    #nav2 a {
      font-size: 16px;
    }

    /* 검색 아이콘 호버 */
    
    #nav2-li-1stdiv {
      padding:50px;
      display: none;
      position: absolute;
      top:70px;
      left: 0px;
      width: 100vw;
      height: 60vh;
      flex-direction: column;
      z-index: 3;
      justify-content: center;
      align-items: center;
      gap:40px;
      background-color: white;
      }
    .hover-layout1{
        position:absolute;
        top:70px;
        left:0;
        display: none;
        align-items: start;
        width:100vw;
        height:100vh;
        background-color: black;
        opacity: 0.5;
    }
    #nav2-li-1stli:hover div{
      display: flex;
    }
   
    #nav2-li-4thli:hover div{
      display: flex;
    }
    #nav2-searchdiv{
      justify-content: center;
    }
    #nav2-searchdiv button{
      font-size:25px;
    }
    #nav2-li-1stdiv input {
      padding:5px;
      width: 70vw;
      height: 70px;
      font-size:25px;
      outline:none;
    }
    #nav2-li-1stdiv button{
      height:84px;
      width:8vw;
    }
    #btns{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width:60vw;
      height:40vw;
      justify-content: center;
    }
    #btns button {
      margin:15px;
      width:100px;
      height: 30px;
      border: 1px solid gray;
      background-color: white;
      cursor: pointer;
    }
    #search-category{
    	height: 84px;
   	 	font-size: 25px;
    }	
   

    #nav2-li-4thdiv{
      margin:20px 0 20px 0;
      padding:50px 0 50px 50px;
      display: none;
      position: absolute;
      top:4%;
      right: 0px;
      width: 20vw;
      height: 40vh;
      flex-direction: column;
      z-index: 10;
      justify-content: center;
      align-items: left;
      background-color:white;
      }
    #nav2-li-4thdiv input{
      width:300px;
      height:30px;
    }
    #nav2-li-4thdiv button{ 
      width: 308px;
      height: 40px;
      background-color: black;
      color: white;
      margin-top: 40px;
    }
    #nav2-li-4thdiv h4{
      float: left;
    }
    li {
      display: inline-block;
      list-style-type: none;
    }

    a {
      text-decoration: none;
      color: black;
    }

    a:visited {
      color: black;
    }
	/* 헤더 css 끝 */  